
{{> navbar isLogNav}}

<h1>Activity panel</h1>
<h3>Your user: {{user.username}}</h3>

<div class="wrap">
<h4>Requested Swaps</h4>
{{#each user.swaps.asGiver}}
<p>{{this.service.name}}</p>
<p>{{this.takerUser.fname}} is asking for this service.</p>
{{/each}}

<h4>Pending Swaps</h4>
{{#each user.swaps.asTaker}}
<p>{{this.service.name}}</p>
<p>You asked {{this.giverUser.fname}} {{this.giverUser.lname}}</p>
{{/each}}

<h4>Past Swaps</h4>
