<main id= "service-profile">
<section>
    <div>
    <img src={{service.picture.[0]}} alt="{{service.name}}">
    </div>

    <div id="main-content">
        <h1>{{service.name}}</h1>
        <h3>{{service.description}}</h3>
        <br><br>
        <p>Date added: {{service.dateAdded}}</p>
        <p>Location: {{service.servLocation}}</p>
        <p>Duration: {{service.duration}} hours</p>
        <p>Category: {{service.category}}</p>
        <p>Date added: {{service.dateAddeed}}</p>
        <br><br> 
        <h2 class="tempura-color">I want this!</h2>
        <br>
      <form action='/swaps/create/{{service._id}}' method='POST'>

        <input type='number' name='duration' value="1" required>
        session/s of <strong>{{service.duration}} hour/s
        <br><br>
        </strong><p>of <strong>{{service.name}}</strong>, offered by <strong>{{service.giverUser.fname}} {{service.giverUser.lname}}</strong>.</p>
        
  <br>
        <button type='submit' class="request-button">Request this!</button>
      </form> 

    </div>
</section>
</main>