{{> navbar isLogNav}}
<main id= "service-profile">
<h1>{{service.name}}</h1>
<a href="/services/profile/{{service._id}}/edit">Edit service</a>

<img src={{service.picture.[0]}} alt="Service Picture">
<p>Date added: {{service.dateAdded}}</p>
<br>
<p>Location: {{service.location}}</p>
<p>Duration: {{service.duration}} hours</p>
<p>Category: {{service.category}}</p>
<p>Date added: {{service.dateAddeed}}</p>
<p>{{service.description}}</p>

</main>