{{> navbar isLogNav}}

<h1>Services search results</h1>
<ul>
    {{#each servicesArr}}
        <li>
            <article>
                <p><a href="/services/{{_id}}"><b>{{name}}</b></a></p>
                <p>{{description}}</p>
                <p>Location: {{location}}</p>
                <p>Duration: {{duration}} hour(s)</p>
                <p>Category: {{category}}</p>
            </article>
        </li>
{{/each}}
</ul>