<main id= "service-profile">
    <section>
        <div>
        <img src={{service.picture.[0]}} alt="{{service.name}}">
        </div>

        <div id="main-content">
            <h1>{{service.name}}</h1>
            <h3>{{service.description}}</h3>
            <br><br>
            <p>Date added: {{service.dateAdded}}</p>
            <p>Location: {{service.servLocation}}</p>
            <p>Duration: {{service.duration}} hours</p>
            <p>Category: {{service.category}}</p>
            
        </div>
    </section>

    <div id="second-section">
        <h3>Login or Signup to be able to request this service:</h3>
        <br>
        <div>
            <a href="/login" class="button">Log in</a>
            <a href="/signup" class="button">sign up</a>
        </div>
    </div>
</main>