{{> navbar isLogNav}}

<main id= "service-profile">
<h1>{{service.name}}</h1>

<img src={{service.picture.[0]}} alt="Service Picture">
<br>
<p>Provided by: <a href="/users/profile/{{service.giverUser._id}}">{{service.giverUser.fname}} {{service.giverUser.lname}}</a></p>
<p>Date added: {{service.dateAdded}}</p>
<br>
<p>Location: {{service.location}}</p>
<p>Duration: {{service.duration}} hours</p>
<p>Category: {{service.category}}</p>
<p>Date added: {{service.dateAddeed}}</p>
<p>{{service.description}}</p>

<br>
<br>

<strong>Service requested!</strong>


</main>