{{> navbar isLogNav}}
<main id= "service-profile">


<section>
    <div>
    <img src={{service.picture.[0]}} alt="{{service.name}}">
    </div>

    <div id="main-content">
        <h1>{{service.name}}</h1>
        <h3>{{service.description}}</h3>
        <br><br>
        <p>Date added: {{service.dateAdded}}</p>
        <p>Location: {{service.location}}</p>
        <p>Duration: {{service.duration}} hours</p>
        <p>Category: {{service.category}}</p>
        <p>Date added: {{service.dateAddeed}}</p>
        <br><br> 
        <h2 class="tempura-color">Service requested!
            <br>
        <a href="/swaps/activity-panel" class="request-button">Activity Panel</a>
        </h2>


</section>

</main>