<main id = "user-profile">
<h1>{{user.fname}} {{user.lname}}</h1>

  <section>
    <img src= {{user.profilePic}} alt="User profile pic">
    <div>   
      <p>username: {{user.username}}</p>
      <p>phone: {{user.phone}}</p>
      <p>email: {{user.email}}</p>
      <p>location: {{user.location}}</p>
      <br>
      <p><strong>Stats:</strong></p>
      <p>User since: {{user.joinDate}} </p>
    </div>
  
    </section>

    <div>
      <p><strong>Offered services: </strong> </p>
        <ul>
          {{#each user.services}}
          <li>
              <img src= {{this.picture}} alt={{this.name}}>
            <div>
              <h3><a href="/services/profile/{{this._id}}">{{this.name}}</a></h3>
              <br>
              <p>{{this.description}}</p>
              <p>Location: {{this.servLocation}}</p>
              <p>Duration: {{this.duration}} hour(s)</p>
              <p>Category: {{this.category}}</p>
            </div>
          </li>
          {{/each}}
    </ul>
    </div>
</main>
