
{{> navbar isLogNav}}

{{main id = "user-profile"}}
<div class="wrap">
<h1>{{user.fname}} {{user.lname}}</h1>
<div class="upper">
    <div>   
      <p>phone: {{user.phone}}</p>
      <p>location: {{user.location}}</p>
   
      <p>Stats: {{user.swaps.length}}</p>

      <p>User since: {{user.joinDate}} </p>
    </div>
    <img src= {{user.profilePic}} alt="User profile pic">
</div>
<div>
<p>Offered services: </p>
<ul>
{{#each user.services}}
<li>
 <a href="/services/{{this._id}}">{{this.name}}</a>
 <p>{{this.description}}</p>
  <a href="/services/{{this._id}}"><img src= {{this.picture}} alt="service pic"></a>

</li>
{{/each}}
</ul>

</div>
</div>
<!--  <p>{{user.services}}</p>  -->

<!-- hours     my profile     notifications     logout ,funciona-->

<!-- -->

